.content-card{
  height: 100vh;
  background-image: url('./../../../../assets/images/Contenedor-2.png');
  background-size: cover;
  opacity: 0.95;
}

.bg-auth{
  position: absolute;
  background-image: url('./../../../../assets/images/Wynwood2.png');
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.bg1{
  background-image: url('./../../../../assets/images/bg-auth3.png');
}

.bg2{
  background-image: url('./../../../../assets/images/Wynwood2.png');
}
