<div class="row">
	<div class="col-sm-4">
		<a [routerLink]="['.']" class="btn btn-purple rounded-pill w-md waves-effect waves-light mb-3"
			(click)="fnModal('show')"><i class="mdi mdi-plus"></i>
			Create Market Place</a>
	</div>
</div>
<div class="row">
	<div class="col-xl-12">
		<div class="card">
			<div class="col-md-12">
				<div class="card">
					<div class="table-responsive t-height">
						<table class="table table-bordered table-striped">
							<thead class="table-dark">
								<tr>
									<th>#</th>
									<th>Title</th>
									<th>Description</th>
									<th>Category</th>
									<th>Subcategory</th>
									<th>File</th>
									<th>Price</th>
									<th>Type</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let item of items">
									<td>Col 1</td>
									<td>Col 2</td>
									<td>Col 3</td>
									<td>Col 4</td>
									<td>Col 5</td>
									<td>Col 6</td>
									<td>Col 7</td>
									<td>Col 8</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="modalMarketPlace" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">MarketPlace modal</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="fnModal('hide')">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="mb-3">
					<label for="exampleFormControlInput1" class="form-label">Title</label>
					<input type="text" class="form-control" id="exampleFormControlInput1"
						placeholder="Title...">
				</div>

				<div class="mb-3">
					<label for="exampleFormControlTextarea1" class="form-label">Description</label>
					<textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Description..."></textarea>
				</div>

				<div class="mb-3">
					<label for="exampleFormControlInput1" class="form-label">Category</label>
					<select class="form-select" aria-label="Default select example">
						<option selected disabled>Select a category</option>
						<option value="1">1 - Category 1</option>
						<option value="2">2 - Category 2</option>
						<option value="3">3 - Category 3</option>
						<option value="4">4 - Category 4</option>
						<option value="5">5 - Category 5</option>
					</select>
				</div>

				<div class="mb-3">
					<label for="exampleFormControlInput1" class="form-label">Subcategory</label>
					<select class="form-select" aria-label="Default select example">
						<option selected disabled>Select a Subcategory</option>
						<option value="1">1 - Subcategory 1</option>
						<option value="2">2 - Subcategory 2</option>
						<option value="3">3 - Subcategory 3</option>
					</select>
				</div>

				<div class="mb-3">
					<label for="exampleFormControlInput1" class="form-label">File</label>
					<input type="file" class="form-control" id="exampleFormControlInput1">
				</div>
				<div class="mb-3">
					<label for="exampleFormControlInput1" class="form-label">Price</label>
					<input type="number" class="form-control" id="exampleFormControlInput1" placeholder="123,4565...">
				</div>
				<div class="mb-3">
					<label for="exampleFormControlInput1" class="form-label">Type</label>
					<input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Type...">
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal"
					(click)="fnModal('hide')">Close</button>
				<button type="button" class="btn btn-primary" (click)="fnModal('hide')">Save changes</button>
			</div>
		</div>
	</div>
</div>
